<!DOCTYPE html>
        <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>

<head>
     <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>افزودن مطلب:</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/font.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>
<section class="container">
  <section class="row">
      <section class="col-md-12 col-sm-12 col-xs-12">
          <section class="col-md-12 col-sm-12 col-xs-12 logo">
              افزودن مطلب جدید به سایت
          </section>
          <section class="col-md-12 col-sm-12 col-xs-12 logo2">
              <form method="post" action="/new">
                  <div class="form-group">
                    <label for="h_post" class="control-label mitra"/> عنوان مزلب: <label>
                    <input type="text" name="h_post" id="h_post" value="" placeholder="عنوان مطلب را وارد نمایید" class="form-group">

                    <label for="d_post" class="control-label mitra"/> عنوان مزلب: <label>
                    <input type="text" name="h_post" id="d_post" value="" placeholder="عنوان مطلب را وارد نمایید" class="form-group">

                    <label for="t_post" class="control-label mitra"/> عنوان مزلب: <label>
                    <input type="text" name="h_post" id="t_post" value="" placeholder="عنوان مطلب را وارد نمایید" class="form-group">

                    <label for="a_post" class="control-label mitra"/> عنوان مزلب: <label>
                    <input type="text" name="h_post" id="a_post" value="" placeholder="عنوان مطلب را وارد نمایید" class="form-group">

                    <label for="img" class="control-label mitra"/> عنوان مزلب: <label>
                    <input type="text" name="h_post" id="img" value="" placeholder="عنوان مطلب را وارد نمایید" class="form-group">

                  </div>
                    <input type="submit" class="btn btn-primary yekan " value="">
              </form>
          </section>
      </section>
  </section>
</section>

</body>
</html>