<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href='{{static_url("css/normalize.css")}}' rel="stylesheet" >
        <link href='{{static_url("css/main.css")}}' rel="stylesheet" >
        <link href='{{static_url("css/font.css")}}' rel="stylesheet" >
        <link href='{{static_url("css/style.css")}}' rel="stylesheet" >
        <link href='{{static_url("css/bootstrap-theme.css")}}' rel="stylesheet" >
        <link href='{{static_url("css/bootstrap.min.css" rel="stylesheet" >
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
       <body>
          <header class=" col-md-12 col-xs-12 col-sm-12  header">

               <div class="firstbar container">
                 <h1 class=" logo col-md-4 col-xs-12 col-sm-12">
                     <img src="{{static_url('img/xlogo-blue.png" class="img-responsive"style="margin-right:-58px')}}">
                 </h1>

                 <div class="col-md-7 col-xs-12 col-sm-8 headerAds">
                     <img src="{{static_url('img\a.gif"style="width: 468px;height: 60px;" class="img-responsive')}}">
                 </div>
               </div>

                <div class=" navbar clearfix">
                        <nav class="menu col-md-8 col-xs-12 col-sm-5 "style="margin-left:18%;">
                               <ul class= "list-inline ">
                                  <li>خانه</li>
                                   <li>تور</li>
                                   <li>هتل ها</li>
                                   <li>بلیط</li>
                                   <li> آژانس ها</li>
                                   <li>تالار گفتمان</li>
                                   <li>سفرنامه ها</li>
                                   <li>خدمات</li>
                                   <li>اخبار</li>
                                   <li>ثبت نام </li>
                                   <li>ارتباط</li>
                               </ul>
                         </nav>
                </div>
          </header>
          <section class=" col-md-12  ">
              <div class="col-md-4 col-xs-12 col-sm-5 img-responsive"style="margin-top: 20px;" >
                  <img src="{{static_url('img/01.gif')}} "style="border: 5px solid#02779e;margin-right:-50px">
              </div>
              <div class="col-md-4 col-xs-12 col-sm-12 img-responsive"style=";margin-top:20px">
                  <img src="{{static_url('img/02.gif')}}"style="border: 5px solid#02779e;margin-right:65px ">
              </div>
              <div class="col-md-4 col-xs-12 col-sm-6 img-responsive"style="margin-top:20px">
                  <img src="{{static_url('img/03.gif')}}"style="border: 5px solid#02779e;margin-right:190px ">
              </div>
          </section>
          <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="col-md-8 col-xs-10 col-sm-9"style="margin-left:250px;">
                  <img src="{{static_url('img/img4.jpg')}}" class="img-responsive"style="border: 5px solid #02779e;margin-top: 20px">
              </div>
              <div class=""style="margin-right:400px;width:250px;height:340px;font-size:13px;font-family:Koodak;color: #ffffff;background:rgba(0,0,0,7);">
                  <h1>اپلکیشن لست سکند</h1>
                  <h> اپلیکیشن آندرویدی تورهای لحظه آخری (LastSecond.ir) برنامه ایست که توسط آن شما میتوایند تورهای خارجی و داخلی متناسب با بودجه و نیازتان را بیابید. تمامی تورها و هتل ها توسط آژانس های مسافرتی معتبر و دارای مجوز بند ب سازمان میراث فرهنگی و گردشگری در سایت وارد میشوند . تمامی سعی ما این است که تورهای دست اول و با بهترین کیفیت و قیمت را برای شما عزیزان مهیا کنیم.
</h>
              </div>
          </div>
       </body>
  </html>
